body{
    margin:0;
    font-family:Arial,sans-serif;
    text-align:center;
    background:#f4f4f4;

}

header{
    background:#222;
    color:white;
    padding:40px;
    text-align:center;

}

section{
    background:white;
    margin:30px auto;
    padding:30px;
    width:80%;
    box-shadow:0 0 10px gray;
}

h2{
    color:#333;

}

button{
    padding:10px 20px;
    background:#007BFF;
    color:white;
    border:none;
    border-radius:5px;
    cursor:pointer;
}

button:hover{
    background:#0056b3;
}